<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gordan.helloffmpeg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".HelloApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".MediaIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.gordan.helloffmpeg.MediaIntentService"/>
            </intent-filter>
        </service>

        <activity android:name=".VideoMine" />
        <activity android:name=".MusicNative" />
        <activity android:name=".MusicNet" />
        <activity android:name=".IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".RecycleActivity" />
        <activity android:name=".MergeActivity" />
        <activity android:name=".FilterActivity" />
        <activity android:name=".MarkActivity" />
        <activity android:name=".InfoActivity" />
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTask">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".PlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CameraStyle" />
        <activity
            android:name=".CameraActivity"
            android:theme="@style/CameraStyle" />
        <activity android:name=".OpenGLActivity" />
        <activity android:name=".AudioActivity" />
        <activity android:name=".DecodeActivity" />
        <activity android:name=".MainActivity">

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->
        </activity>
    </application>

</manifest>